<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">YoutubeCrawlDotnet</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <ul class="nav flex-column">
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
      </NavLink>
      <NavLink class="nav-link" href="getothervideos">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Get Other Videos
      </NavLink>
    </li>

    <AuthorizeView Roles="jong">
      <Authorized>
        <li class="nav-item px-3">
          
          <NavLink class="nav-link" href="privateVideos/1">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Private Videos
          </NavLink>
          <NavLink class="nav-link" href="othervideos/1">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Other Videos
          </NavLink>
        </li>
      </Authorized>
    </AuthorizeView>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="publicVideos/1">
        <span class="oi oi-plus" aria-hidden="true"></span> Public Videos
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="fetchdata">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
      </NavLink>
    </li>
  </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
